@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Light.ttf'); 
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.ttf'); 
	font-weight: bold;
}

.spaceship-list div.statistics {
  padding: 20px;
  background-color: #c0c0c0;
}

.result {
  color: #fff;
  font-size: 0.8em;
  max-height: 600px;
  overflow: auto;
}

.result img {
  display: block;
  padding: 20px;
  margin: auto;
}

.spaceship-list div div.item-properties,
.spaceship-list div div.item-values,
.result div div.item-properties,
.result div div.item-values {
  display: inline-block;
  padding: 0;
  padding: 5px;
  background-color: rgba(0,0,0,0);
}

.spaceship-list div div.item-properties,
.result div div.item-properties {
  text-align: right;
  font-weight: bold;
}

.spaceship-list div.ship img {
  box-shadow: 0 2px 3px;
  margin: 5px;
  max-width: 200px;
}

.spaceship-list div.ship {
  background-color: #8baee8;
  margin: 15px 0px;
  padding: 0 0 0 5px;
}

.spaceship-list div.ship:hover {
  background-color: #6694df;
  margin: 15px 0px;
  padding: 0 0 0 5px;
  cursor: pointer;
}

body{
  margin:0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

div{
  position:relative;
  box-sizing:border-box;
  padding: 5px;
}
.container{
  width:100%;
  min-height: 100vh;
  padding:0;
}

.container:after{
  content: '';
  clear: both;
  display: table;
}

.container>div{
  float: left;
  height: auto;
}

.spaceship-list{
  width: 100%;
  background:  #0b88c5;
  overflow: auto
}

.one-spaceship{
  width: 100%;
  background:  #000;
}

.searchbar{
  position: relative;
}

#search-text,
#search-button {
  line-height: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fae01f;
}

#search-text {
 width:150px;
}

#search-text:focus {
  padding: 10px 10px;
  border: 3px solid #81fa1f;
}

#search-button{
  background: #fae01f;
}

#search-button:hover{
  background: #81fa1f;
  cursor: pointer;
}

@media(min-width:1200px){
  .spaceship-list{
    width: 65%;
  }

  .one-spaceship{
    width: 35%;
  }

  .container>div{
    height: 100vh;
  }
  
  .searchbar{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
